<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Excellence\Storebase\Block\Adminhtml\Storebase\Grid" type="Excellence\Storepickup\Block\Adminhtml\Storebase\Grid" />
</config>